body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 30px 20px;
    margin: 0;
}
#main-container {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #header-left {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    #header-right {
        margin-top: 8px;
    }

    h1 {
        color: hsl(219, 85%, 26%);
        font-size: 24px;
        margin: 0 0 34px 0;
    }
    #marked {
        color: hsl(219, 12%, 42%);
        font-size: 16px;
        text-decoration: none;
    }
    #numOfNotifications {
        color: white;
        background-color: hsl(219, 85%, 26%);
        border-radius: 5px;
        /* width: 30px; */
        height: 26px;
        font-size: 18px;
        text-align: center;
        padding: 0px 12px;
    }
}
.notification-container {
    background-color: hsl(210, 60%, 98%);
    border-radius: 10px;
    pointer-events: all;
    display: flex;
    flex-direction: row;
    gap: 0 20px;
    padding: 20px 30px;

    h3 {
        margin: 0;
        color: hsl(219, 14%, 63%);
        font-weight: 500;
        .name {
            color: hsl(224, 21%, 14%);
            font-weight: 800;
        }
    }
    h3::after {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--after-color, red);
        margin-top: 7px;
        margin-left: 8px;
        pointer-events: none;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .time {
        margin: 7px 0 0 0;
        color: hsl(219, 14%, 63%);
    }
}
#pm {
    display: none;
}
